.scrollButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #9FBAAE;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.scrollButton:hover {
    transform: scale(1.1);
    background-color: #CBDED3;
}