.hero{
    width: 720px;
    height: 530px;
    background-color: #F8F8F8;
    border-radius: 30px;
    padding: 98px 108px 98px 64px;
}

.heroTitle{
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}

.highlight{
    display: inline-block;
    font-weight: 400;
    font-style: italic;
    background-color: #CBDED3;
    border-radius: 8px;
    padding: 0 5px;
    line-height: 40px;
}

.heroSubtitle{
    width: 471px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-bottom: 64px;
}